@media (min-width: 1440px) {
    .minhaDiv {
      width: 1440px;
    }
  }
  
  @media (max-width: 375px) {
    .minhaDiv {
      width: 375px;
    }
  }
  
  body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(220, 45%, 89%); 
  }
  
  .container {
    background-color: hsl(0, 0%, 100%);
    padding: 20px; 
    text-align: center; 
    border-radius: 28px;
      width: 60%;
      height: auto; 
      margin: auto; 
  }
  
  .attribution {
    text-align: center; 
    margin-top: 20px; 
    font-size: 1rem;
  }
  
  .container img {
    max-width: 100%; 
    height: auto;
    border-radius: 25px
  }

  
  container h1 {
    font-size: 1rem;
  }

  .container h2 {
    color: hsl(212, 45%, 89%) ;
    margin-top: -5px;
    font-size: 1rem;
  }
